.blogTitle{

font-size:32px;
line-height:42px;
font-weight:900;
letter-spacing: 3px;
}

.postTitle{
font-size:28px;
line-height:31px;
font-weight:900;
}

.postDate{
font-size:14px;
/* line-height:22px; */
letter-spacing:1px;
}

.postSummary{
font-size:16px;
line-height:28px
}

/* posts */

.PostDataTitle{
    font-size: 36px;
    letter-spacing: -1px;
    margin-bottom: 0.2rem !important;

}

.PostDateTime{
    font-size: 16px;
}